<div class="greeter-call">
  <h1>Become A Greeter</h1>
  <%= link_to "Apply Now", root_path, class: "btn btn-primary" %>
</div>

<div class="foreign-greeter">
  <h1>Not From Shanghai?</h1>
  <h3>Become a greeter in your own city</h3>
  <%= link_to "Find Your City", 'http://globalgreeternetwork.com/destinations-3/greeter-destinations/?gclid=CjwKCAiA9f7QBRBpEiwApLGUitE-3sXN0BOVAwMde7HiYWJbbER-bIika60rId3fiHkm836GySqKTxoCIQUQAvD_BwE', target: "_blank", class: "btn btn-primary" %>
</div>
