<main class="tabs">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">My Experiences</label>

  <% if policy(current_user).greeter? %>
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><%= link_to "For Greeters", '/dashboard/greeter', remote: true %></label>
  <% end %>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3"><%= link_to "Settings", '/dashboard/settings', remote: true %></label>

  <!-- Created partials of the tabs to clean up the code in this file -->
  <div id="tab">
    <%= render "visitor"%>
  </div>

</main>

<% content_for :js do %>

  <script>
    $('.tab1').click()
  </script>

<% end %>
