// Define variables for your color scheme

// For example:
$red: #AA1925;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green-opac: rgba(184, 233, 134, 0.24);
$red-opac: rgba(170, 25, 37, 0.24);
$grey: #232323;
$light-grey: #F6F6F6;
$white: #FFF;
$med-grey: #909090;
$grey-opac: rgba(150, 150, 150, 0.2);
