.about-section {
  // padding: 40px 100px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.about-box {
  background-color: $peach;
  padding: 20px;
  margin: 0 20px;
  width: 45%;
  text-align: center;
  border: solid 16px white;
  h2 {
    font-size: 22px;
    font-weight: bold;
  }
  h1 {
    font-size: 28px;
    font-weight: bold;
    color: $red;
  }
}

.know {
  background-color: $peach;
  padding: 50px 12%;
  margin: 30px 0;
  h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: $red;
  }
  li {
    margin: 1em;
  }
}
