.experience-details {
  background-color: $white;
  padding: 30px;
  margin: 30px;
  max-width: 780px;
  min-width: 400px;
  h3 {
    font-size: 21px;
    font-weight: bold;
  }
}

.booking {
  background-color: $white;
  padding: 15px;
  margin: 30px 30px 30px 0;
  width: 25%;
  text-align: center;
  h3 {
    font-size: 21px;
    font-weight: bold;
    color: $red;
    margin-bottom: 30px;
  }
  input:first-child {
    display: none;
  }
  label {
    display: none;
  }
}

.experience {
  display: flex;
  justify-content: space-around;
}
