.value-prop {
  text-align: center;
  p {
    max-width: 250px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.value {
  background-color: $white;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 327px;
  align-items: center;
  justify-content: end;
}
