<div class="footer">
  <div class="navigations">
    <p>About Us</p>
    <p class="bold branded">Book An Experience</p>
    <p>Become A Greeter</p>
    <p>Sign In</p>
  </div>

  <div class="global-greeters">
    <p class="bold">Global Greeter Network</p>
    <p><%= link_to "New York", "https://bigapplegreeter.org/" %></p>
    <p><%= link_to "Tokyo", "https://tokyogreeter.jimdo.com/" %></p>
    <p><%= link_to "Paris", "https://greeters.paris/" %></p>
  </div>

  <div class="donate">
    <%= link_to "DONATE", root_path, class: "btn btn-primary" %>
    <p class="bold">Donations keep us going!</p>
    <p>We are a non-profit and any donation is much appreciated.</p>
    <p>Your donation will be used in maintenance of</p>
    <p>the website and improving experiences.</p>
  </div>
</div>
