<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path "about-us.jpg" %>');">
  <div class="banner-content">
    <h1>About us</h1>
  </div>
</div>

<div class="greeter-page">
  <div class="details-box">
    <h1 class="center-text">Who are we?</h1>
    <p>
      Shanghai Greeters is a network of volunteers who offer their time to show tourists around the city free of charge. Founded in January, 2013, Shanghai Greeters is a proud member of the Global Greeter Network whose greeter spirit has been alive and kicking since the founding of Big Apple Greeters twenty years ago. Now, there are 47 member cities in 19 countries worldwide and we’re still growing!
    </p>
  </div>

  <div class="about-section">
    <div class="about-box">
      <h1>Mission</h1>
      <p>
        Enhance Shanghai ’s worldwide image and enrich the Shanghai experience by connecting visitors with knowledgeable and enthusiastic volunteers who have pride for this city.
      </p>
    </div>
    <div class="about-box">
      <h1>Passion</h1>
      <p>
        Shanghai Greeters builds a bridge between people and promotes cross-cultural understanding. Our greeters are in love with this city and want to share it with visitors.
      </p>
    </div>
  </div>

  <div class="know-wrapper">
    <div class="know">
      <h1>Know before you go</h1>
      <ol>
        <li>Greeters are volunteers. Although not professional tour guides, they offer friendship and a personalized knowledge of the city.</li>
        <li>Greeters welcome individuals or groups of no more than 6 people.</li>
        <li>Meeting a Greeter is free!</li>
        <li>Visitors are welcomed without any kind of discrimination.</li>
        <li>Visitors are limited to 1 booking request during their stay.</li>
        <li>Booking must be made at least 5 days prior and should not be made on the day of arrival or departure.</li>
        <li>Bookings are subject to the availability of the volunteering Greeters. Submitting a request does not guarantee their availability. You will receive an email within 3 days once booking is confirmed.</li>
        <li>Start times and itineraries are further discussed directly with the Greeter via e-mail after successfully booking.</li>
      </ol>
    </div>
    <div class="know-photo" style="background-image: url('<%= image_path "know.jpg" %>');"></div>
  </div>

  <div class="details-box center-text">
    <h1>Find out more about the Global Greeter Network</h1>
    <%= link_to "Discover", 'http://www.globalgreeternetwork.info/', target: "_blank", class: "btn btn-primary center-text" %>
  </div>
</div>
