  <div class="details-box call-box">
    <article>
  <h2>Greeter FAQ</h2>
  <p></p>
  <div id="more-1" class="fulltext">
    <p><strong>1. What is the role of the Shanghai Greeter Program?</strong></p>
<p>The Shanghai Greeters Program is an ambassador service that aims to enhance Shanghai’s image, and increase visitor and local resident satisfaction. Shanghai Greeter volunteers welcome and connect visitors, locals and new residents to our city through short walking and public orientation experiences.</p>

<p>Greeters offer a unique (customised, flexible, intimate, authentic) experience for visitors to connect with our city through a knowledgeable and enthusiastic local volunteer. Our volunteer Greeters will abide by the Global Greeter Network standards which are incorporated into our program policy and procedures, engage with our visitors on every level, and at all times be an ambassador for, and a positive representative of, the city of Shanghai.</p>


<p><strong>2. How often do I need to be available to take Greets?</strong></p>
<p>Greeter program is very popular among local citizens. So every volunteer will have two observation training according to your availability. If you want to offer more time to the program, we welcome you to do so. However, we'll supervise whether you are a qualified greeter.</p>


<p><strong>3. How long do I need to allocate for a Greet?</strong></p>
<p>All greets run for a minimum of two hours and a maximum of four hours.</p>


<p><strong>4. Where do we meet to begin the Greets?</strong></p>
<p>Greeter’s Choice Greets: These greets depart from visitors hotel lobbies or metro stations from 8 am daily, seven days a week.</p>
<p>Your Choice Greets: Greets depart from an agreed public location with your visitor, at an agreed time (morning, afternoon or evening).</p>


<p><strong>5. Is there a maximum number of visitors I can take on a greet?</strong></p>
<p>Yes – the maximum number is six. The Shanghai Greeters Program is a very personal "welcome to the city" experience run on a volunteer basis. This is also a shared principle of the Global Greeter Network.</p>


<p><strong>6. Do I need to contact the visitor prior to a greet?</strong></p>
<p>Once we confirm the visitor's visit. Volunteers will have to contact the visitors by emails and copy the email to managers and new volunteers.</p>

<p>Your Choice Greets: Bookings for these are only taken online. Step 1) A Shanghai Greeters coordinator will email you a Your Choice Greet booking form. Step 2) As soon as you receive the email, please advise the coordinator if you are available to take the greet on one of the visitor’s preferred dates. Step 3) If you are available, please contact the visitor directly via email to confirm meeting date, agreed public location meeting point, and meeting time. You should also address special needs or requirements with the visitor. Step 4) Once you have received confirmation of meeting details with the visitor, please email the details to <a href="shanghai.greeters@gmail.com">Shanghai Greeters</a></p>


<p><strong>7. What training will I receive as a Greeter?</strong></p>
<p>Induction training is held on a quarterly basis, which covers Shanghai Greeters operational information, the role of a Shanghai Greeter and customer service training. Greeters are also given a comprehensive support package of training support notes based on Shanghai’s experience mix, and to aid Greeters in their greet planning. Following induction training, new Greeters must attend one observation greets with an experienced Greeter, and attend ongoing core training initiatives.</p>


<p><strong>8. Do I receive expenses?</strong></p>
<p>We consider this is a great opportunity and a plat form for every Shanghai citizen to explore the world by making friends and exchanging views. We reinforce NO TIPPING policy, so volunteers are not allowed to take any tips from visitors. We encourage our volunteers take public transportation and walk around the city with visitors. Anything else is at your expense.</p>


<p><strong>9. Do I need to be prepared for all weather?</strong></p>
<p>Yes please. We will endeavour to carry out greets in all weather – rain, hail or shine. Greeters must be prepared and have a wet-weather contingency plan, so the visitor’s experience can still go ahead.</p>


<p><strong>10. What happens if I have an emergency and can’t take the scheduled greet?</strong></p>
<p>If the emergency arises prior to the day of the greet, please email or call and we will notify the visitors. It is important that our Greeters are reliable and do not cancel greets except in cases of genuine emergency.</p>


<p><strong>11. What happens if I am sick and am unable to take the scheduled greet?</strong></p>
<p>If you are feeling sick and are rostered on to take a greet the next day, please let us know in advance so we can make alternative arrangements. If you wake up sick on the day, please contact your visitors directly via the telephone, and a Shanghai Greeters coordinator via telephone (weekdays), and email (weekends).</p>


<p><strong>12. Do I need to be prompt at all times?</strong></p>
<p>As you are representing the city, it is important to arrive in advance of the greet commencement time. In case of unavoidable delays, please ensure you have the visitor’s mobile number with you at all times on the day of the greet so you can contact them. Please make at least one phone call to a visitor’s mobile if you are running late so the whole group can be informed.</p>


<p><strong>13. What about my personal safety?</strong></p>
<p>We encourage that our volunteers do not go out alone with the visitor(s). However, if you exceed these limitations, you may be held personally liable for any injury to yourself or to a visitor. As your safety is of paramount importance to us at all times, Greeters are not permitted to go to a visitor’s hotel room, or invite visitors to their home. Greeters are not permitted to use their own cars while on a greet or to travel in visitors' cars. This is important as Shanghai Greeters will not cover you or the visitors in the event of an accident.</p>


<p><strong>14. Should I encourage visitors to use Public Transport?</strong></p>
<p>The use of public transport is another shared principle by members of the Global Greeter Network and is a core value of our program. Therefore we aim to promote our accessible public transport at all times in the city. Helping visitors familiarise themselves with Shanghai’s public transport is a good way to ensure they can move easily and sustainably around the city and surrounding areas.</p>


<p><strong>15. Can I accept tips?</strong></p>
<p>As the Shanghai Greeter Program is voluntary, you cannot accept money or tips of any kind.</p>
<p>However, if a visitor wishes to express their appreciation for the Shanghai Greeters service, please direct them to the website where they can Donate Now, to assist us in funding the ongoing operations of the Shanghai Greeters Program.</p>


<p><strong>16.What do I need to do at the end of each greet?</strong></p>
<p>Please encourage your visitors to visit and "like" the Shanghai Greeters Facebook page, and to share their photos/feedback with us. Greeters and visitors alike can also use #shanghaigreeters when sharing photos on Instagram, to share their experience with us and friends and family.</p>

<p>Greeters should make visitors aware that should they wish to express their appreciation of the Shanghai Greeters Program, they can visit the website to give a monetary donation of any amount to help sustain the ongoing operational costs of the program.</p>


<p><strong>17.How can Greeters provide feedback on the Shanghai Greeter Program?</strong></p>
<p>We value your feedback and encourage Greeters to provide us feedback directly. We also ask you to complete an annual online Greeters Feedback Survey, which we will send to you via email. </p>
  </div>
  <button aria-expanded="false" aria-controls="more-1" class="toggle-content" hidden><span class="text">Show More</span> <span class="visually-hidden">about Greeters</span></button>
</article>
  </div>
</div>
