<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path "greeters.jpg" %>');">
  <div class="banner-content">
    <h1>Join the Shanghai Greeters family</h1>
  </div>
</div>

<div class="greeter-page">
  <div class="details-box">
    <ul class="center-text">
      <li>I love Shanghai.</li>
      <li>I am proud of my city.</li>
      <li>I know a lot about a neighbourhood and other locations in Shanghai.</li>
      <li>I am hospitable and friendly.</li>
      <li>I'm interested in meeting new people regardless of their race, religion, and creed.</li>
    </ul>
    <h2 class="center-text">If this describes you, maybe you should be a Shanghai Greeter!</h2>
  </div>

  <div class="details-box">
    <h3>Requirements</h3>
    <ul>
      <li>- Speak at least one foreign language</li>
      <li>- Reliable and responsible</li>
      <li>- Able to dedicate at least 4 hours a month to volunteer for Shanghai Greeters</li>
    </ul>
  </div>

  <div class="details-box call-box">
    <h2 class="center-text">Become a Shanghai Greeter</h2>
    <p class="center-text">We will contact you shortly via e-mail after receiving your application.</p>
    <%= link_to "Join Now", 'https://www.wenjuan.in/s/uy2I73/', target: "_blank", class: "btn btn-primary center-text" %>
  </div>
</div>

