<main class="tabs">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">My Experiences</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">For Greeters</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Settings</label>

  <!-- Created partials of the tabs to clean up the code in this file -->


</main>
