<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @experience.photos? ? (cl_image_path @experience.photos.first.path) : (image_path 'museum.jpg') %>');">
  <div class="banner-content">
    <h1><%= @experience.name %></h1>
  </div>
</div>
