/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $peach;
  opacity: 0.7;
  color: $grey;
  font-weight: bold;
}
.alert-warning {
  background: $red;
}

