.banner {
  color: $white;
  text-align: center;
  height: calc(80vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  padding: 0 65px;
  background-position: 0% 75%;
  h1{
    font-family: 'Merienda One', 'cursive';
    margin-bottom: 30px;
  }
  p {
    font-size: 22px;
  }
}

.btn-banner {
  color: $white;
  border: solid 2px $white;
  transition: background-color 0.3s ease;
  opacity: 0.9;
  transition: 0.3 ease;
  &:hover{
    background-color: $red;
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse:hover {
  animation: pulse 1s infinite;
}
