.card {
  height: 220px;
  background-size: cover !important;
  background-position: center;
  color: $white;
  border: solid 2px $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.card-experience {
  border: solid 2px $white;
  background-color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  margin: auto auto;
  padding: 15px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: $white;
  opacity: 0;
  &:hover{
    opacity: 0.1;
  }
}
.cards-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
}
