.page-background{
  background-size: cover !important;
  min-height: 100vh;
  position: relative;
  padding: 100px 0;
}

.login {
  background-color: $white;
  border-radius: 3px;
  margin: 0px auto;
  width: 40%;
  padding: 30px;
  h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 35px;
  }
}

.form-inputs {
  label {
    font-weight: normal;
    color: $red;
  }
}

.form-control:focus {
  border-color: $red;
  box-shadow: none;
}

.form-actions {
  text-align: center;
}

.devise-links {
  margin-top: 10px;
  font-size: 14px;
}

textarea.form-control {
    height: 200px;
}

.attachinary_container {
  margin: 10px;
  li {
    list-style: none;
  }
}

textarea#booking_address {
    height: 50px;
}

select#booking_attendees {
    width: 65px;
}

.cancel-account {
  margin-top: 30px;
  font-size: 12px;
}

p.help-block {
    font-size: 13px;
}
