*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

main {
  min-width: 320px;
  max-width: 80%;
  padding: 50px;
  margin: 30px auto;
  background: $white;
  min-height: calc(100vh - 370px);
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
  p {
    margin: 0 0 20px;
    line-height: 1.5;
  }
}

.tabs input {
  display: none;
}

.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

// .tabs label[for*='1']:before { content: '\f155'; }
// .tabs label[for*='2']:before { content: '\f27e'; }
// .tabs label[for*='3']:before { content: '\f013'; }

.tabs label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: $grey;
  border: 1px solid #ddd;
  border-top: 3px solid $red;
  border-bottom: 1px solid $white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  .tabs label {
    font-size: 0;
  }
  .tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .tabs label {
    padding: 15px;
  }
}

.dashboard-button{
  position: relative;
  a {
    position: absolute;
    right: 0;
  }
}

.content2 {
  min-height: 100vh;
}


.settings {
  width: 60%;
  h2 {
    text-align: center;
    text-transform: uppercase;
  }
  .form-actions {
    display: flex;
    justify-content: center;
  }
}

